* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    position: fixed;
    background: #0a0c10;
    height: 100%;
    width: 100%;
}

input {
    background: none;
    border: none;
    border: 1px solid #222222;
    border-radius: 6px;

    padding: 10px;
}

input:focus {
    outline: none;

    border-color: #333;
}

.dot{
    height: 13px;
    width: 13px;
    border-radius: 100%;
    display: inline-block;
}

@media only screen and (max-width: 638px) {
    .mob {
        width: 100% !important;
    }
}
