.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.page form {
    display: flex;
    flex-direction: column;
}

.page form * {
    margin: 10px;
    color: #FFF;
}