.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.page form {
    font-size: 100px;
    display: flex;
    flex-direction: column;
}

.page form * {
    margin: 10px;
    color: #FFF;
}
