.pulls {
    margin: 10px;
}

.pull {
    margin: 3px;
    padding: 8px;
    background: rgba(78, 78, 78, 0.498);
    display: flex;
    align-items: center;
}

.scoreboard {
    margin: 13px;
    padding: 10px;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scoreItemLoading{
    display: inline-block;
    margin: 5px;
    width: 18rem;
    height: 40px;
    justify-content: space-between;
    display: flex;
    background-color: #ffffff14;
    border-radius: 6px;
    padding: 3px;
}

.scoreItem {
    margin: 5px;
    width: 18rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    border-radius: 6px;
    padding: 3px;
    border: 1px solid #333333;
}


.scoreItem img {
    border-radius: 100%;
}

.scoreItemValue{
    text-align: center;
    color: green;
    padding: 7px;
    width: 30px;
    font-size: 20px;
    border-left: 1px solid #333333;
}

.orgDetail {
    border-bottom: 1px solid #333333;
    margin: 13px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orgDetail * {
    margin: 3px;
}

.orgInfo {
    margin-left: 10px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 3px;
    display: flex;
}

.orgInfo div {
    display: flex;
    border-right: 1px solid #333333;
    padding-right: 6px;
}
.orgInfo div:last-child{
    border: none;
    padding-right: 0;
}
