.button {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(48, 48, 48, 0.3);
    border-radius: 40px;
    border: 1px solid #45454536;
    transition: ease-in-out 0.2s;
}

.button:active {
    background: rgb(52 52 52 / 32%);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.button:hover:enabled{
    opacity: 0.8;
}
