.button {
    background: rgba(160, 160, 160, 0.32);
    padding: 10px;
    cursor: pointer;
    border: none;
}

.button:active {
    background: rgb(52 52 52 / 32%);
}

.button:disabled {
    cursor: default;
}