.button {
    border: none;
    background: #0a0a0a;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #333333;
    border-radius: 6px;
    transition: ease-in-out 0.5s;
    font-size: 14px;
}

.button:active {
    background: rgb(52 52 52 / 32%);
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}
