.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 24px;
}

.header a {
    text-decoration: none;
    color: #dedede;
    font-size: 1rem;
    transition: ease-in-out 0.2s;
    padding: 10px;
    width: auto;
    background-color: rgba(48, 48, 48, 0.3);
    border-radius: 40px;
    outline: 1px solid #54545491;
}

.header a:hover {
    color: #ffffff;
}