.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333333;
    padding: 15px;
    padding-right: 24px;
}

.header h3:first-child{
    margin-right: auto;
    opacity: 0.8;
}


